<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="containerG">
        <div class="containerG">
            <h1>EY Assistant Proposal</h1>
            <p>Este es un demo de Chat GPT para la extracción de información de documentos, hecha para EY Colombia</p>
            <form action="/" method="post">
                <p>Análisis del documento <strong><%= pdfTitle %></strong> <button style="color: red;" type="submit" class="close" aria-label="Close">
                    <span aria-hidden="true"> &times;</span>
                </button></p>
            </form>
            <form action="/gpt" method="post">
                    <div class="form-group">
                        <% if (respondModel !="" ) { %>
                        <label for="askModel">Respuesta del modelo GPT:</label>
                        <textarea class="form-control" disabled="true" id="askModel" rows="10"><%= respondModel %></textarea>
                            
                        <% } %>
                    <% if (consultPrev !="" ) { %>
                        <p>Pregunta realizada: <i><strong>
                                    <%= consultPrev %>
                                </strong></i></p>
                        <% } %>
                        <label for="questionModel">Escribe la pregunta que deseas realizar:</label>
                        <textarea class="form-control" id="questionModel" name="questionModel" rows="2"></textarea>
                    </div>
                <div class="containerFlexButton">
                    <div>
                        <button class="btn btn-primary" type="submit" name="sendRequest">Enviar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>

</html>